@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";

@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}){
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);


$background-color: #fff;
$color: #88bbff;
$border: 1px solid $color;
$drop-arrow-size: .6em;
$popup-overlap: 20%;



/**
 * GENERAL
 */

body {
    transition: opacity .25s ease;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

body > div {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 15em;
	color: $color;
}

.arrow-corner {
	position: absolute;
	top: 0;
	right: 0;
	border-left: $border;
	border-bottom: $border;
	text-align: center;
	height: 1.5em;
	padding: .25em;
}

#toggle {
	display: none;
}

.tshirt-img {
	height: 15em;
	border: $border;
	text-align: center;
	background: $background-color;
}

.h1-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.h1-container > h1 {
	transition: transform 1s ease;
}

#toggle:checked ~ .tshirt-img h1 {
	transform: rotateY(180deg);
}

.tshirt-options {
	font-size: 0px;
	text-align: center;
	background: $background-color;
}

.tshirt-options > div {
	width: 20%;
	display: inline-block;
	font-size: 1rem;
	border-right: $border;
	border-bottom: $border;
	transition: color .2ss ease;
	transition: background-color .2s ease;
}

.tshirt-options > div:hover {
	background-color: $color;
	color: $background-color;
}

div.left-border{
	border-left: $border;
}

.tshirt-size, .tshirt-color {
	position: relative;
}

.tshirt-size-select, {
	visibility: hidden;
	position: absolute;
	width: 100+$popup-overlap;
	left: -$popup-overlap/2;
	background-color: $background-color;
	bottom: 100%;
	border: $border;
}

.tshirt-size:hover .tshirt-size-select, .tshirt-size:hover .tshirt-size-arrow {
	visibility: visible;
}

.tshirt-size-arrow {
	visibility: hidden;
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%) translateY($drop-arrow-size/2) rotate(45deg);
	background-color: $background-color;
	height: $drop-arrow-size;
	width: $drop-arrow-size;
	border-right: $border;
	border-bottom: $border;
}




.tshirt-color-select {
	visibility: hidden;
	position: absolute;
	width: 100+$popup-overlap;
	bottom: 100%;
	left: -$popup-overlap/2;
	border: $border;
	background: $background-color;
}

.tshirt-color-select-options {
	width: 100%;
	background-color: $background-color;
	transform: translateY($drop-arrow-size);
	border: 0;
}

.tshirt-color:hover .tshirt-color-select {
	visibility: visible;
}

.tshirt-color-select-arrow {
	position: relative;
	left: 50%;
	transform: translateX(-50%) translateY($drop-arrow-size/2) rotate(45deg);
	background-color: $background-color;
	height: $drop-arrow-size;
	width: $drop-arrow-size;
	border-right: $border;
	border-bottom: $border;
}

.radio-popup {
	display: none;
}

.label-popup {
	color: $color;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
}

.radio-popup:checked + .label-popup {
	visibility: visible;
}

.tshirt-size:hover .label-popup {
	position: relative;
	display: block;
	margin: 0;
	visibility: visible;
}





.tshirt-name {
	font-weight: 200;
}

.tshirt-price {
	float: right;
	font-weight: 600;
}

